<?xml version="1.0" encoding="UTF-8" ?>
<config>
  <rules>
    <rule>
      <analyzer>gov.state.cst.bpel_analyzer.MaxCodeDepthRule</analyzer>
      <properties>
        <property name="max_code_depth" value="8"/>
      </properties>
      <description>Avoid BPEL Processes with High Depth of Code</description>
    </rule>
    <rule>
      <analyzer>gov.state.cst.bpel_analyzer.MaxVariablesRule</analyzer>
      <properties>
        <property name="max_variables" value="10"/>
      </properties>
      <description>Minimize the Number of BPEL Variables</description>
    </rule>
    <rule>
      <analyzer>gov.state.cst.bpel_analyzer.MaxJavaSnippetLength</analyzer>
      <properties>
        <property name="max_code_lines" value="20"/>
      </properties>
      <description>Avoid Large Java Snippets</description>
    </rule>
  </rules>
</config>
