<configuration>

	<appender name="fileAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>bpel_analyzer.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>bpel_analyzer.%i.log.zip</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>3</maxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="htmlout"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>bpel_analyzer.log.html</file>
		<append>true</append>
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="ch.qos.logback.classic.html.HTMLLayout">
				<pattern>%d%level%logger%msg</pattern>
			</layout>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>bpel_analyzer.%i.log.html.zip</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>3</maxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy>
	</appender>

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.out</target>
		<filter class="gov.state.cst.bpel_analyzer.StdOutFilter" />
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="stderr" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<filter class="gov.state.cst.bpel_analyzer.ErrOutFilter" />
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="htmlout" />
		<appender-ref ref="stdout" />
		<appender-ref ref="stderr" />
	</root>
</configuration>